/* Header Formatting */
.header {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid black;
}
.header h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.header nav a {
  color: black;
  display: inline-block;
  margin: 10px;
}

.header nav {
  margin-right: 50px;
}

.logo img {
  margin: 10px 10px 10px 20px;
}

/* Main Content Formatting */
.container {
  display: flex;
  padding-top: 100px;
  border: 1px solid black;
}
.column .large {
  display: flex;
  width: 630px;
  border: 1px solid black;
}
.small-headline {
  border: 1px solid black;
}

.contentbox {
  border: 1px solid black;
}
